
body{
    margin: 20px 20px 20px 20px;
 }
 #page_content {
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    width:500px;
    padding: 10px 10px 10px 10px;
 }
 #result{
    color:red;
    font-weight: bold;
 }
