body{
    margin: 20px 20px 20px 20px;
    float:none;
 }
 #title{
    float: left;
    margin: 5px 20px 0px 00px;
 }
 #data_entry {
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    width:600px;
    padding: 10px 10px 10px 10px;
 }
 .errors{
    color:red;
 }
 